.list 
{
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 100px;
}

.listButton
{
    width: 155px;
    height: 45px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.2s;
    font-size: 1.8rem;
    outline: none;
}

.listButton:hover
{
    box-shadow: inset 145px 0 0 0 rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.stockName
{
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
}